*{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"] {
    outline: none;
    text-align: left;
  }
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #statusCount {
    animation: respiracao 1s infinite alternate; /* Aplica a animação */
}

@keyframes respiracao {
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.painel {
    background: #ffff;
    padding: 5px 60px 5px 60px;
    max-width: 1280px;
    min-width: 1280px;
    border-radius: 31px;
}
@media screen and (max-width: 1440px) {
    .painel {
        transform: scale(0.8); /* Escala para telas menores que 768px */
    }
}
@media screen and (max-width: 1024px) {
    .painel {
        transform: scale(0.65); /* Escala para telas menores que 768px */
    }
}

@media screen and (max-width: 768px) {
    .painel {
        transform: scale(0.5); /* Escala para telas menores que 480px */
    }
}
.header {
    color: black;
    width: 100%;
}
.header a{
    color: #9bfffa;
}
.header .options {
    display: flex;
    border-bottom: 1px solid;
    align-items: center;
    justify-content: space-between;
}
.header .options b{
margin-right: 20px;
}
.header h1{
    font-size: 30px;
}
body {
    width: 90%;
    height: 90%;
    display: flex;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.section {
  height: 656px;
}
.sectionside {
    margin: 40px 0px 0px 0px;
    max-width: 630px;
    min-width: 630px;
}
.sectiontitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sectiontitle .button {
    display: flex;
    min-width: 125px;
    align-items: center;
    justify-content: space-evenly;
}
.sectiontitle .button svg {
    height: 30px;
    top: 4px;
    position: relative;
}

#viewoff{
    display: block;
}
#viewon{
    display: none;
}
#sectionTitleName {
    min-width: 317px;
}
.sectionside b{
font-size: 30px;
width: 100%;
}
#boxHoras, #boxHoras span  {
    background: #9fe96e;
    color: #9fe96e;
    -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}
#boxValor, #boxValor span {
    background: #a4a7f6;
    color: #a4a7f6;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}
.objsection svg{
    position: relative;
    top: 4px;
}
.sectioninfo b{
    font-size: 15px;
    font-weight: normal;
    margin-right: 45px;
}
#boxHoras, #boxValor{
    color: #000000;
}
.sectioninfo #boxHoras{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    
}
.sectioninfo #boxValor{
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.sectionbox {
    -webkit-animation: fade-in-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border: 0.5px solid black;
    display: inline-flex;
    color: white;
    background: #000000;
    border-radius: 20px;
    -webkit-box-shadow: 7px 15px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 7px 15px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 5px 10px 0px 0px rgb(67 67 67);
    min-height: 180px;
    height: 180px;
    min-width: 180px;
    width: 180px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 25px;
}
.sectionbox b {
    font-weight: normal;
    margin: 10px 0px 5px 0px;
    text-align: center;
    font-size: 15px;
}
.hora {
    position: absolute;
    top: 80px;
    font-weight: 700;
    color: #5c5c5c;
}
#data {
 font-size: 10px;
}
.sectionInfo {
    margin: 0px;
    font-size: 15px;
    font-weight: 800;
}
input{
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
}
.sectionconteiner {
    display: flex;
    margin: 30px 0px;
    align-items: center;
}
.sectionDays {
    margin-bottom: 20px;
}
.sectionDays .button{
    width: 100px;
    background-color: none;
    border: none;
    background-color: none;
    box-shadow: none;
    color: black;
}
#dayUm{
    background-color: #000000;
    color: white;
    
}
#ultimos4Dias{
    position: relative;
  
}
.button {
    margin-right: 20px;
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .button:active {
    --bg-color: #5c5c5c;
  }
  select{
    width: 300px;
    border: none;
    border-radius: 10px;
    margin: 10px;
  }
  .box {
    border: 3px solid #92ec78;
    color: white;
    padding: 0px 20px;
    background-color: #404040;
    width: 400px;
    min-width: 300px;
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%, 50%);
    border-radius: 30px;
    animation: fade-in 0.2s ease;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 132px -8px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 10px 10px 132px -8px rgba(0, 0, 0, 0.59);
    box-shadow: 10px 10px 132px -8px rgba(0, 0, 0, 0.59);
}
  .box strong{
    color: #82e87e;
  }
  #moveWindow{
    display: flex;
  }
  #boxheader {
    width: 200px;
    height: 30px;
    user-select: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}
.box.draggable {
    position: absolute;
}

  
  /* Animação */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
.navbar button {
    position: absolute;
    right: -10px;
    width: 40px;
    height: 40px;
    border: none;
    background: #fe4848;
    color: white;
    border-radius: 60px;
    top: -10px;
    font-weight: 700;
    cursor: pointer;
}
.navbar button:hover{
    background: #ff0000;
}
.navbar p {
  font-size: 20px;
  font-weight: bold;
  color: #93ed78;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
}
.box input{
    width: 80%;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}
.box .options{
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.options button{
    width: auto;   
    padding: 0px 20px;
    margin-right: 20px;
}
#projetos p {
    font-size: 20px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
#projetos button{
    width: auto;
}
#projetos span {
    overflow-wrap: break-word;
    width: 200px;
}
#statusCount {
    position: absolute;
    right: 40px;
    top: 10px;

}
#textCount {
    position: absolute;
    right: 40px;
    bottom: 30px;
    color: red;
}
.moveinfo{
    color: #9db4cd;
    font-variant-caps: all-petite-caps;
    padding: 20px;
    top: 10px;
    position: relative;
}
.showprojectshome{
    height: 130px;
    overflow-x: auto;
    margin-bottom: -30px;
}
.showprojectshome::-webkit-scrollbar {
    height: 12px; /* Altura da barra de rolagem */
    background-color: transparent; /* Cor de fundo da barra de rolagem */
}

.showprojectshome::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0);
    border-radius: 6px;
}

.showprojectshome::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgb(240, 240, 240);
}
.showprojectshome p {
    display: flex;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    
}

/* 

*/

.wrapper {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    font-weight: bold;
    --font-color-dark: #000000;
    --font-color-light: #FFF;
    --bg-color: #fff;
    --main-color: #434343;
    min-width: 595px;
    max-width: 595px;
    height: 32px;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
  .option {
    width: 80.5px;
    height: 28px;
    position: relative;
    top: 2px;
    left: 2px;
  }
  
  .input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
  }
  
  .btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .span {
    color: var(--font-color-dark);
  }
  
  .input:checked + .btn {
    background-color: #000000;
    box-shadow: 3px 3px 0px 0px rgb(67 67 67);
}
  
  .input:checked + .btn .span {
    color: var(--font-color-light);
  }



  /* ----------------------------------------------
 * Generated by Animista on 2024-4-30 18:7:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .input:checked + #dayChecked{
    background-color: #b8b8b8;
    border: 0.5px solid black;
}
    #spanChecked{
        color: black;
    }

    
       /* -------------------- */

    .radio-input input {
        display: none;
      }
      
      .radio-input {
        --container_width: 300px;
        position: relative;
        display: flex;
        align-items: center;
        color: #707070;
        width: var(--container_width);
        overflow: hidden;
    }
      
      .radio-input label {
        width: 100%;
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 14px;
      }
      
      .selection {
        display: none;
        position: absolute;
        height: 100%;
        width: calc(var(--container_width) / 4);
        z-index: 0;
        left: 0;
        top: 0;
        border-bottom: 3px solid #93ec78;
        transition: .15s ease;
      }
      .radio-input label:has(input:checked) {
        color: black;
        border-bottom: 2px solid #93ec78;
      }
      .radio-input label:has(input:checked) ~ .selection {
        display: inline-block;
      }
      
      .radio-input label:nth-child(1):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 0/4));
      }
      
      .radio-input label:nth-child(2):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 1/4));
      }
      
      .radio-input label:nth-child(3):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 2/4));
      }
      
      .radio-input label:nth-child(4):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 3/4));
      }

      /* ---------side right---------- */
      .sideRigth {
        display: flex;
        width: 555px;
        position: relative;
        bottom: 55px;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
    }
    #searchProject {
        width: 180px;
    }
      .sideRigth #calendario{
       width: 20px;
       height: 20px;
       padding: 10px;  
      }
      .sideRigth #configUser{
        width: 20px;
        height: 20px;
        padding: 10px;
        font-size: 15px;  
       }
       #boxSearchProject {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    
    #boxSearchProject:active {
    --bg-color: none;
  }
  .section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #boxdetalhes{
    width: 900px;
    height: 330px;
  }
  #graph {
    height: 318px;
    width: 600px;
    padding: 10px;
}

#sectionProjects{
  display: none;
  width: 90%;
  display: flex;
  font-size: 15px;
  position: absolute;
  top: 180px;
  justify-content: space-between;
  max-width: 1220px;
  -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  overflow: auto;
  height: 500px;
}
#sectionProjects li{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid gray;
    padding: 5px;
}
#sectionProjects span{
  min-width: 300px;
}
#sectionProjects button{
  border: none;
  color: #ff7070;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: -5px;
  background-color: white;
  cursor: pointer;
}
#sectionProjects button:hover, #sectionProjects a:hover{
  color: black;
}
#sectionProjects b{
  position: absolute;
  left: 17%;
}
#sectionProjects a{
  color: green;
}
#sectionProjects::-webkit-scrollbar {
  height: 12px; /* Altura da barra de rolagem */
  background-color: transparent; /* Cor de fundo da barra de rolagem */
}

#sectionProjects::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0);
  border-radius: 6px;
}

#sectionProjects::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: rgb(240, 240, 240);
}
#sectionProjects p {
  display: flex;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
  
}
#sectionProjects #retomarProject{
  position: absolute;
  left: 60%;
}
.borraoverde{
  position: absolute;z-index: 999;top: 0px;background: none;width: 1px;height: 1px;-webkit-box-shadow: 0px 0px 200px 68px rgba(46, 255, 112, 0.6);-moz-box-shadow: 0px 0px 200px 68px rgba(46, 255, 112, 0.6);box-shadow: 0px 0px 330px 130px rgb(158 233 110);left: 0px;
}
.borraroxo{
  position: absolute;z-index: 999;bottom: 0px;background: none;width: 1px;height: 1px;-webkit-box-shadow: 0px 0px 200px 68px rgba(46, 255, 112, 0.6);-moz-box-shadow: 0px 0px 200px 68px rgba(46, 255, 112, 0.6);box-shadow: 0px 0px 330px 130px rgb(164 167 246);right: 0px;
}